body
  font: 100% $main-font-stack

h1, h2, h3, h4, h5, h6
  font-family: $header-font-stack

.container
  align-content: center
  display: flex
  flex-flow: row wrap
  justify-content: center
  margin: 0 auto
  text-align: center
  width: 98%