// $branding-font-stack:         'Corben', cursive
// $header-font-stack:           'Merriweather', serif
$header-font-stack:           'Rokkitt', serif
$main-font-stack:             'Source Sans Pro', sans-serif

$background-color:            #e2e1e0
$card-bg-color:               #ffffff

$primary-font-color:          #000000
$secondary-font-color:        #333333

$primary-color:               #42a5f4
$primary-color-light:         #80d6ff
$primary-color-dark:          #0077c1
$secondary-color:             #ffd740
$secondary-color-light:       #ffff74
$secondary-color-dark:        #c8a600

$accent-btn-color:            #000000
$accent-btn-hover-color:      #333333
$accent-btn-text-color:       #ffffff

$breakpt-tablet:              501px
$breakpt-desptop:             801px
$breakpt-desktop-lg:          1201px
